<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>



<div>
    <p th:if="${noCategories}"
       th:text="There are no established event categories.  A new event will be unable to be saved.  Please create a new category before attempting to create an event."></p>
<form class="form-horizontal" method="post">
   <nav th:replace="fragments :: formBody"></nav>


    <input type="submit" value="Create Event"
           class="btn btn-success">


</form>
</div>

</body>
</html>