body {
  font-size: 18px;
}

table {
    border-collapse: collapse;
    width: 100%;
    }

table, th, tr, td {
    border: 1px solid black;
    padding: 15px;

}

tr:nth-child(even){
    background-color: gray;
    color: white;
}

td {
    text-align:center;
}

.error {
    color: red;
    text-decoration: underline;
    font-style: italic;
    }