<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script th:src="@{/script.js}"></script>
</head>
<body>

<nav th:fragment="header">
    <div >
        <h1 th:text="${title}">Coding
                Events</h1>
    </div>
    <div class="bar">
            <span class="barspan"><a href="/events">All
            Events</a></span>
            <span class="barspan"><a
                    href="/events/create">Create
                Event</a></span>
            <span class=" barspan"><a
                    href="/events/delete">Delete
                Events</a></span>
            <span class=" barspan"><a
                    href="/eventCategories">Event
                Categories</a></span>
            <span class=" barspan"><a
                    href="/eventCategories/create">Create
                New Category</a></span>
            <span class=" barspan"><a
                    href="/tags">Tags
            </a></span>
            <span class=" barspan"><a
                    href="/tags/create">Create New
                Tag</a></span>
            <span><a th:href="@{/login}"
                     class="barspan">
                Login</a></span>
            <span><a th:href="@{/logout}"
                     class="barspan">Logout</a></span>
    </div>
</nav>


<nav th:fragment="formBody">
    <hr>
    <div class="form-group">
        <label class="control-label">Name</label>
             <input class="form-control"
                    th:field="${event.name}"
                     th:value="${event.name}"
           placeholder="Event Name">
        <p class="error" th:errors="${event.name}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Date</label>
    <input  class="form-control" th:field="${event.date}"
            th:value="${event.date}"
           placeholder="Event Date">
    <p class="error" th:errors="${event.date}"></p>
    </div>


    <div class="form-group">
    <label class="control-label">Day of the Week</label>
    <select class="form-control" th:field="${event.dayOfWeek}">
        <option th:each="day : ${daysOfWeek}"
                th:value="${day}"
                th:text="${day.displayName}"></option>
    </select>
    </div>

    <div class="form-group">
    <label class="control-label">Contact Email</label>
    <input class="form-control"
           th:field="${event.eventDetails.contactEmail}"
           placeholder="Contact Email">
    <p class="error"
       th:errors="${event.eventDetails.contactEmail}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Description</label><br>
    <textarea class="form-control" rows="4" cols="50"
              th:field="${event.eventDetails.description}"
              placeholder="Event Description"></textarea>
    <p class="error"
       th:errors="${event.eventDetails.description}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Number of Attendees</label>
    <input class="form-control" type="number"
           th:field="${event.numberOfAttendees}"
           th:value="${event.numberOfAttendees}"
           placeholder="Number of Attendees" value="1"
           min="0">
    <p class="error"
       th:errors="${event.numberOfAttendees}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Location</label>
    <input class="form-control" th:field="${event.location}"
           th:value="${event.location}"
           placeholder="Event Address">
    <p class="error" th:errors="${event.location}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Registration Required</label>
    <input class="form-control"
           type="checkbox"
            th:field="${event.registrationRequired}"
            th:value="${event.registrationRequired}">
    <p class="error"
       th:errors="${event.registrationRequired}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Picture URL</label>
    <input class="form-control" th:field="${event.picture}"
           th:value="${event.picture}"
           placeholder="Event Picture">
    <p class="error" th:errors="${event.picture}"></p>
                                </div>

    <div class="form-group">
    <label class="control-label">Event Code</label>
    <input class="form-control" th:field="${event.eventCode}"
           th:value="${event.eventCode}"
           placeholder="Form: abc123">
    <p class="error" th:errors="${event.eventCode}"></p>
    </div>

    <div class="form-group">
    <label class="control-label">Event Category</label>
    <select class="form-control"
            th:field="${event.eventCategory}">
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}"></option>
    </select>
        <p class="error"
           th:errors="${event.eventCategory}"></p>
    </div>
    <hr>
</nav>

</body>
</html>