<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <script th:src="@{/script.js}"></script>
</head>
<body>

<nav th:fragment="header">
    <h1 th:text="${title}">Coding Events</h1>
    <ul>
        <li><a href="/events">All Events</a></li>
        <li><a href="/events/create">Create Event</a></li>
        <li><a href="/events/delete">Delete Events</a></li>
    </ul>
</nav>

<nav th:fragment="formBody">
    <hr>
    <label>Name</label>
    <input th:field="${event.name}" th:value="${event.name}"
           placeholder="Event Name">
    <p class="error" th:errors="${event.name}"></p>

    <label>Date</label>
    <input th:field="${event.date}" th:value="${event.date}"
           placeholder="Event Date">
    <p class="error" th:errors="${event.date}"></p><br><br>

    <label>Day of the Week</label>
    <select th:field="${event.dayOfWeek}">
        <option th:each="day : ${daysOfWeek}"
                th:value="${day}"
                th:text="${day.displayName}"></option>
    </select>

    <label>Contact Email</label>
    <input th:field="${event.contactEmail}"
           th:value="${event.contactEmail}"
           placeholder="Contact Email">
    <p class="error"
       th:errors="${event.contactEmail}"></p><br><br>

    <label>Description</label><br>
    <textarea rows="4" cols="50"
              th:field="${event.description}"
              th:value="${event.description}"
              placeholder="Event Description"></textarea>
    <p class="error"
       th:errors="${event.description}"></p><br><br>

    <label>Number of Attendees</label>
    <input type="number"
           th:field="${event.numberOfAttendees}"
           th:value="${event.numberOfAttendees}"
           placeholder="Number of Attendees" value="1"
           min="0">
    <p class="error"
       th:errors="${event.numberOfAttendees}"></p>

    <label>Location</label>
    <input th:field="${event.location}"
           th:value="${event.location}"
           placeholder="Event Address">
    <p class="error" th:errors="${event.location}"></p><br>

    <label>Registration Required</label>
    <input
            type="checkbox"
            th:field="${event.registrationRequired}"
            th:value="${event.registrationRequired}">
    <p class="error"
       th:errors="${event.registrationRequired}"></p>

    <label>Picture URL</label>
    <input th:field="${event.picture}"
           th:value="${event.picture}"
           placeholder="Event Picture">
    <p class="error" th:errors="${event.picture}"></p><br>

    <label>Event Code</label>
    <input th:field="${event.eventCode}"
           th:value="${event.eventCode}"
           placeholder="Form: abc123">
    <p class="error" th:errors="${event.eventCode}"></p>

    <label>Type</label>
    <select th:field="${event.eventType}">
        <option th:each="type : ${types}"
                th:value="${type}"
                th:text="${type.displayName}"></option>
    </select>
    <hr>
</nav>

</body>
</html>